<!DOCTYPE html>
<html>
  <head>
        <% include includes/headtag %>
  </head>
  <body>
  	<div class="container">
  		<div class="masthead">
        <% include includes/masthead %>
      </div>

      <div>
        <center>
          <iframe src="https://docs.google.com/forms/d/1Hb2VNenf7qqYK2qSmSQOcQSnE543HRawPui7YQwGu0g/viewform?embedded=true" width="760" height="790px" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>
        </center>
      </div>
  	</div>

    <script src="http://code.jquery.com/jquery.js"></script>
    <script src="js/bootstrap.min.js"></script>
  </body>
</html>