<html>
  <head>
  	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js" type="text/javascript"></script>
		<link rel="stylesheet" type="text/css" href="stretch-goal.css">
  </head>
	<body>
		<div id="custom-sg">
		  <div id="sg-explain">
		  	<h3>Fully funded, but far from finished.</h3>
		  	<div>We've hit our first target - thank you so much! Now we're going for the stretch. <a href="">Click here</a> to read about what will happen if we hit this target!</div>
		  </div>
		  <div id="sg-display">
		    <div id="sg-progress">
		    	<div id="sg-progress-bar"></div>
		    </div>
		    <div id="sg-meta">
		    	<div id="sg-percent">
		    		<div class="sg-meta-value"></div>
		    		<div class="sg-meta-msg">funded</div>
		    	</div>
		    	<div id="sg-goal">
		    		<div class="sg-meta-value"></div>
		    		<div class="sg-meta-msg">stretch goal</div>
		    	</div>
		    </div>
		  </div>
		</div>
	</body>
</html>