<!DOCTYPE html>
<html>
  <head>
    <title>Bootstrap 101 Template</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet" media="screen">
  </head>
  <body>
  	<div class="container">
  		<div class="masthead">
        <ul class="nav nav-pills pull-right">
          <li class="active"><a href="#">Home</a></li>
        </ul>
        <h3 class="muted">Stretch Goal</h3>
      </div>

      <div class="jumbotron">
        <h1>Super awesome marketing speak!</h1>
        <p class="lead">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
        <a class="btn btn-large btn-success" href="#">Sign up today</a>
      </div>


      <div class="row">
        <div class="span4">
          <h2>What</h2>
          <p>Stretch Goal aims to help the creators of funded projects reach their stretch goals by adding a stretch goal progress bar to the project description area of the project page.</p>
        </div>
        <div class="span4">
          <h2>Why</h2>
          <p>We think stretch goals let good projects shine and we like it when good projects shine. While <a href="">some project creators</a> have the chops to add high quality images to their projects, we know this isn't true for every excellent project.</p>
       </div>
        <div class="span4">
          <h2>How</h2>
          <p>After providing Stretch Goal with your project url, target value and a brief explanation Stretch Goal provides you with a url to embed into your project description via the VIDEO button in the editor.</p>
          
        </div>
      </div>
  	</div>

    <script src="http://code.jquery.com/jquery.js"></script>
    <script src="js/bootstrap.min.js"></script>
  </body>
</html>