<!DOCTYPE html>
<html>
  <head>
    <title>Bootstrap 101 Template</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet" media="screen">
  </head>
  <body>
  	<div class="container">
  		<div class="masthead">
        <ul class="nav nav-pills pull-right">
          <li class="active"><a href="#">Home</a></li>
          <li><a href="#">Use Stretch Goal</a></li>
        </ul>
        <h3 class="muted">Stretch Goal</h3>
      </div>

      <div id="myCarousel" class="carousel slide">
	      <div class="carousel-inner">
	        <div class="item active">
	          <img src="yodawg.jpg" alt="">
	          <div class="container">
	            <div class="carousel-caption">
	              <h2>Yo! Dawg, heard you like Kickstarter so we made a kickstarter project to help kickstarter projects.</h2>
				        <p><a href="#" class="btn btn-primary btn-large">Check Us Out »</a></p>
	            </div>
	          </div>
	        </div>
	        <div class="item">
	          <img src="../assets/img/examples/slide-02.jpg" alt="">
	          <div class="container">
	            <div class="carousel-caption">
	              <h1>Another example headline.</h1>
	              <p class="lead">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
	              <a class="btn btn-large btn-primary" href="#">Learn more</a>
	            </div>
	          </div>
	        </div>
	        <div class="item">
	          <img src="../assets/img/examples/slide-03.jpg" alt="">
	          <div class="container">
	            <div class="carousel-caption">
	              <h1>One more for good measure.</h1>
	              <p class="lead">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
	              <a class="btn btn-large btn-primary" href="#">Browse gallery</a>
	            </div>
	          </div>
	        </div>
	      </div>
	      <a class="left carousel-control" href="#myCarousel" data-slide="prev">‹</a>
	      <a class="right carousel-control" href="#myCarousel" data-slide="next">›</a>
	    </div>


      <div class="row">
        <div class="span4">
          <h2>What</h2>
          <p>Stretch Goal aims to help the creators of funded projects reach their stretch goals by adding a stretch goal progress bar to the project description area of the project page.</p>
        </div>
        <div class="span4">
          <h2>Why</h2>
          <p>We think stretch goals let good projects shine and we like it when good projects shine. While <a href="">some project creators</a> have the chops to add high quality images to their projects, we know this isn't true for every excellent project.</p>
       </div>
        <div class="span4">
          <h2>How</h2>
          <p>Adding Stretch Goal to your project is simpler than <a href="">making a Yo. Dawg img</a></p>
          <ol>
          	<li><a class="btn" href="#">Click Here »</a></li>
          	<li>Enter your Project URL</li>
          	<li>Enter your Stretch Goal value</li>
          	<li>Copy the image path</li>
          	<li>Add an image the top of your project description</li>
          </ol>
        </div>
      </div>
  	</div>

    <script src="http://code.jquery.com/jquery.js"></script>
    <script src="js/bootstrap.min.js"></script>
  </body>
</html>