<form action="\new" method="post">

PROJECT URL: <input type="text" name="url" /><br/>
GOAL: <input type="text" name="goal" /><br/>
CURENCY: <input type="text" name="curency" /><br/>
MESSAGE: <input type="text" name="explain" /><br/>
<input type="submit" />

</form>